@import url(./reset.css);
@import url(./vaibales.css);
@import url(./products.css);
@import url(./elementos.css);
@import url(./formulario.css);


/* extructura */
header {
  background: linear-gradient(135deg, var(--color-ppal), var(--color-luz-terciario));
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--sombra-ppal);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-desaturado-terciario);
}

body {
  background-color: var(--color-terciario);

}

main {
  display: flex;
  flex-direction: column;
  padding: var(--espacio-terciario);

}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 0;
  background: linear-gradient(135deg, var(--color-ppal), var(--color-luz-terciario));
  z-index: 1000; /* para asegurarte de que esté por encima de otros elementos */
}

footer p {
  margin: 0 10px;
}

@media (max-width: 700px) {

  :root {
    --fuente-base: 12px;
  }

  header {
  padding: 10px 20px;
  font-size: 10px;
}
}