html {
    /* Paleta de colores */
    --color-ppal: #0048a0;
    --color-secundario: #ebdfa5;
    --color-terciario: #d2deda;
    --color-cuaternario: #a63200;
    --color-luz-ppal: #fede85;
    --color-luz-secundario: #ffc505;
    --color-luz-terciario: #00a2ff;
    --color-luz-cuaternario: #95d8ff;
    --color-desaturado-ppal: #2d281e;
    --color-desaturado-secundario: #818c9b;
    --color-desaturado-terciario: #e0eff5;

    /* tipografia */
    /* Familia tipografica */
    --fuente-ppal: 'Segoe UI', sans-serif;
    --fuente-2: "";
    /* Tamano fuentes */
    --fuente-base: 14px;
    --titulo-ppal: calc(var(--fuente-base)*1.6);
    --titulo-secundario: calc(var(--fuente-base)*1.4);
    --titulo-terciario: calc(var(--fuente-base)*1.2);

    /* espacios v*/
    --espacio-base: 10px;
    --espacio-secundario: calc(var(--espacio-base)* 2);
    --espacio-terciario: calc(var(--espacio-base)* 3);

    /* sombras  */
    --sombra-ppal: 0 6px 7px rgba(0, 0, 0, 0.08);
    --sombra-secundaria: 0 4px 4px rgba(0, 0, 0, 0.08);

}