body {
  margin: 0;
  padding-top: var(--espacio-xl);
  padding-bottom: var(--espacio-xl);
}

main {
  padding: var(--espacio-xl);
}

main>section {
  margin: var(--espacio-xl) 0 var(--espacio-xl);
}

@media (max-width: 500px) {
  body {
  margin: 0;
  padding-top: var(--espacio-xxl);
  padding-bottom: var(--espacio-xxl);
}
}