    .ticket {
        background: var(--color-d1);
        margin: 70px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

