<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" defer></script>
    <script src="./socket.io/socket.io.js" defer></script>
    <script src="./public/js/socket.client.js" defer></script>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>

</html>